<div class="d-flex justify-content-center">
  <form class="bg-light p-3 mt-5 rounded" id="signupForm">
    <div class="row g-3 p-1">
      <div class="col-auto">
        <label for="userSignup" class="visually-hidden">Username</label>
        <input
          type="text"
          class="form-control"
          id="userSignup"
          placeholder="Username"
        />
      </div>
    </div>
    <div class="row g-3 p-1">
      <div class="col-auto">
        <label for="emailSignup" class="visually-hidden">Email</label>
        <input
          type="email"
          class="form-control"
          id="emailSignup"
          placeholder="email@example.com"
        />
      </div>
    </div>
    <div class="row g-3 p-1">
      <div class="col-auto">
        <label for="passwordSignup" class="visually-hidden">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordSignup"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="row g-3 p-1">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/signup.js"></script>